/*TOPO*/
* {
  margin: 0;
  padding: 0;
}

.topo {
    display: flex;
    flex-direction: row;
    margin: 10px 0px 0px 70px;
  }

  .tracos hr{
    background-color: #000000;
    width: 18px;
    height: 1.5px;
    margin: 2px 0px 0px 0px;
  }

  .tracos{
    margin-top: 16px;
    margin-left: 80px;
    cursor: pointer;
  }

  .lupa {
    height: 18px;
    width: 18px;
    margin: 15px 0px 0px 35px;
    cursor: pointer;
  }

  .logo {
    width: 230px;
    height: 56px;
    margin-left: 460px;
  }
  
  .botao1 {
    background-color:#EA2300;
    color: #ffffff;
    width: 100px;
    height: 44px;
    border-radius: 50px;
    text-align: center;
    margin-right: 10px;
  }
  
  .botao1 p {
    margin-top: 12px;
    font-size: 17px;
    font-weight: bold;
  }

  .botao1:hover {
    background-color:#FF6139;
    cursor: pointer;
  }

  .botao2 {
    background-color:#fff;
    color: #EA2300;
    width: 95px;
    height: 44px;
    border-radius: 50px;
    border: solid 1px #e3e2e2;
    text-align: center;
    margin-left: 8px;
  }
  
  .botao2 p {
    margin-top: 12px;
    font-size: 17px;
    font-weight: bold;
  }

  .botao2:hover {
    background-color: #FEE8E6;
    cursor: pointer;
  }
  
  .botoes {
    float:right;
    display:flex;
    flex-direction: row;
    margin-left: 318px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;

  }

  .menu-separacao{
    background-color: #E6E6E6;
    border-color: transparent;
    width: 99.9%;
  }
  
  .menu hr {
    margin: 20px 10px 0px 10px;
    height: 25px;
    background-color: #E6E6E6;
    border-color: transparent;
  }

  .seta-menu-mobile {
    display: none;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .menu-mobile {
    display: flex;
    flex-direction: row;
  }

  .menu-nao-mobile {
    display: flex;
    flex-direction: row;
  }

  .categoria1 {
    margin: 25px 55px 27px 0px;
    font-weight: bolder;
  }

  .categoria2 {
    margin: 25px 0px 27px 30px;
    font-weight: bolder;
  }

  .categoriaa {
    margin: 25px 25px 27px 0px;
    font-weight: bolder;
  }

  .categoria1:hover,.categoriaa:hover,.categoria2:hover {
    color: #EA2300;
    cursor: pointer;
  }

  .propaganda1 {
  width: 970px;
  height: 250px;
  margin: 30px 0px 0px 300px;
  cursor: pointer;
  }

  .meio1-separacao {
    margin-top: 30px;
    margin-left: 120px;
    margin-bottom: 30px;
    background-color: #E6E6E6;
    border-color: transparent;
    width: 1320px;
  }

  .meio1-separacao-comp {
    margin-top: 30px;
    margin-left: 120px;
    margin-bottom: 30px;
    background-color: #E6E6E6;
    border-color: transparent;
    width: 1320px;
  }

  /*PRIMEIRA PARTE*/

  .meio1 {
    display: flex;
    margin-left: 120px;
  }

  .meio1-linha-separacao-noticia {
    background-color: #E6E6E6;
    border-color: transparent;
  }

  .meio1-lateral-noticia1 {
    width: 300px;
    margin: 0px 20px 0px 20px;
    font-size: 15px;
  }

  .meio1-lateral-noticia1 hr{
    width: 280px;
    background-color: #E6E6E6;
    border-color: transparent;
    margin: 10px 0px 10px 0px;
  }

  .meio1-lateral-noticia1 a{
    color: #161616;
    text-decoration: none;
  }

  .meio1-lateral-noticia1 p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
  }

  .meio1-lateral-noticia1 a:hover{
    text-decoration: underline;
  }

  .meio1-lateral-noticia1 ul{
    font-size:  16px;
    margin-top: 10px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  .meio1-lateral-noticia1 ul li:hover{
    text-decoration: underline;
  }

  .meio1-lateral-noticia1 ul li::before{
    content: "•";
    color: #EA2300;
    margin-right: 10px;
    font-size: 20px;
  }

  .meio1-centro-noticia {
    width: 655px;
    margin-left: 10px;
  }

  .meio1-centro-noticia img{
    width: 645px;
    cursor: pointer;
  }

  .meio1-centro-noticia p, .meio1-centro-noticia h1{
    width: 650px;
    margin-top: 5px;
  }

  .meio1-centro-noticia h1:hover {
    text-decoration: underline;
  }

  .meio1-lateral-noticia2 {
    width: 300px;
    margin: 0px 20px 0px 10px;
  }

  .meio1-lateral-noticia2 hr{
    width: 280px;
    background-color: #E6E6E6;
    border-color: transparent;
    margin: 10px 0px 10px 0px;
  }

  .meio1-lateral-noticia2 h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
  }

  .meio1-lateral-noticia2 a{
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
  }

  .meio1-lateral-noticia2 a:hover{
    text-decoration: underline;
  }

  .contratktk-lateral {
    color: #EA2300;
  }

  .bold-exame-apresentado {
    font-weight: 900;
  }

  /*OITAVA PARTE*/
  .meio8 {
    margin-left: 121px;
    display: flex;
  }

  .meio8-esquerda a{
    color: #000000;
    text-decoration: none;
  }

  .meio8-esquerda a:hover{
    text-decoration: underline;
  }

  .meio8-esquerda {
    flex-direction: column;
  }

  .meio8 img {
    width: 850px;
    height: 470px;
    border-radius: 10px;
    margin-top: 20px;
  }

  .meio8 hr {
    width: 850px;
    background-color: #E6E6E6;
    border-color: transparent;
    margin: 10px 0px 20px 0px;
  }

  .meio8-descricao {
    display: flex;
    flex-direction: column;
  }
  
  .meio8-descricao h1 {
    color: #000000;
    font-size: 10px;
  
  }
  
  .meio8-descricao-manchetes {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
  }
  
  .meio8-vozes p{
    color: #000000;
    font-size: 15px;
    margin-right: 80px;
    margin-top: 12px;
    font-weight: bold;

  }
  
  .meio8-favela p{
    color: #C4C4C4;
    font-size: 15px;
    margin-top: 12px;
  }

  .meio8-favela p:hover{
    color: #000000;
    cursor: pointer;
  }
  
  .meio8-linhas {
    display: flex;
    flex-direction: row;
  }
  
  .meio8-linhas hr{
    width: 420px;
    height: 2px;
  }
  
  .meio8-linhas .meio8-linha-laranja {
    background-color: #EA2300;
    border-color: transparent;
  }
  
  .meio8-linhas .meio8-linha-cinza {
    background-color: #C4C4C4;
    border-color: transparent;
  }

  .meio8 fieldset {
    margin-left: 50px;
    width: 415px;
    border-color: #E6E6E6;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .meio8 fieldset p {
    margin: 20px;
    font-size: 30px;
    font-weight: bolder;
  }

  .meio8 fieldset td {
    font-size: 20px;
    margin-left: 5px;
    font-weight: bolder;
    cursor: pointer;
  }

  .meio8 fieldset input {
    margin: 10px 0px 0px 10px;
  }

  .meio8-email{
    width: 350px;
    height: 30px;
    padding: 5px 10px 5px 10px;
    border-color: transparent;
    background-color: #F4f4f4;
    border-radius: 10px;
  }

  .meio8-email::placeholder{
    color: #A8A8A8;
    font-weight: bolder;
  }

  .meio8-termos td p{
    font-weight: normal;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
  }

  .meio8-termos table{
    margin-left: 10px;
  }

  .meio8-termos td a{
    color: #EA2300;
    text-decoration: none;
    font-weight: bold;
  }

  .meio8-inscricao input{
    width: 350px;
    height: 50px;
    padding: 10px 10px 10px 10px;
    border-color: transparent;
    background-color: #161616;
    color: #F4f4f4;
    font-size: 15px;
    border-radius: 50px;
    text-align: center;
    transition-duration: 0.23s;
    font-weight: bold;
  }

  .meio8-inscricao input:hover{
    width: 350px;
    height: 50px;
    padding: 10px 10px 10px 10px;
    border-color: transparent;
    background-color: #E5E5E5;
    color: #F4F2F1;
    font-size: 15px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
  }

  .meio8-inscricao{
    margin-left: 10px;
    margin-bottom: 20px;
  }

/*PUBLIS*/

.publicidade-retangular {
  display: flex;
  flex-direction: column;
  margin-left: 310px;
  margin-top: 40px;
}

.publi-retangulo-titulo {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.publi-linha-titulo {
  width: 382px;
  height: 1%;
  background-color: #C4C4C4;
  border-color: transparent;
  margin-top: 3px;
}

.publi-retangulo-titulo h1{
  color: #000000;
  font-weight: bolder;
  font-size: 10px;
  margin: 0px 10px 0px 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.publicidade-retangular img{
  width: 950px;
  height: 90px;
  cursor: pointer;
}

.publi-linha-bottom {
  width: 950px;
  background-color: #C4C4C4;
  border-color: transparent;
  margin-top: 10px;
  height: 1%;
}

@media (max-width:380px) {

  .body {
    max-width: 380px;
  }

  .topo {
    margin: 0;
  }

  .tracos {
    margin-left: 20px;
    margin-top: 25px;
  }

  .lupa {
    margin-left: 15px;
    margin-top: 25px;
  }

  .logo {
    margin-left: 40px;
    width: 130px;
    height: 70px;
  }

  .botoes {
    margin: 0;
  }

  .botao1 {
    margin-left: 20px;
    margin-top: 15px;
  }

  .botao2 {
    display: none;
  }

  .menu {
    margin-left: 40px;
  }

  .menu-mobile {
    display: flex;
    flex-direction: row;
  }

  .menu-nao-mobile {
    display: none;
  }

  .seta-menu-mobile {
    display: flex;
    margin: 19px 0px 10px 0px;
    height: 25px;
    width: 20px;
    background-color: transparent;
    border-radius: 10px;
  }

  .seta-menu-mobile p{
    margin: 0px 0px 0px 7px;
    font-size: 10px;
    color: #161616;
    font-weight: 700;
  }
  
  .categoria1 {
    margin: 20px 20px 0px 0px;
    font-size: 9px;
    font-weight: 600;
    color: #161616;
  }

  .propaganda1 {
    display: none;
  }

  .meio1{
    margin: 0;
    flex-direction: column;
  }

  .meio1-separacao {
    max-width: 380px;
  }

  .meio1-lateral-noticia1 p{
    display: none;
  }

  .meio1-lateral-noticia1 a{
    font-size: 13px;
  }

  .meio1-lateral-noticia1 a h1{
    margin-top: 10px;
  }

  .meio1-lateral-noticia1{
    margin-left: 20px;
    width: 350px;
  }

  .meio1-lateral-noticia1 hr{
    width: 330px;
  }

  .br-computador {
    display: none;
  }

  .meio1-separacao-comp {
    display: none;
  }

  .meio1-lateral-noticia1 ul{
    font-size:  13px;
  }

  .meio1-lateral-noticia1 ul li{
    font-size:  13px;
    margin-top: 10px;
  }

  .meio1-linha-separacao-noticia {
    margin: 10px 20px;
    width: 330px;
  }

  .meio1-centro-noticia{
    display: flex;
    flex-direction: row;
  }

  .meio1-centro-noticia img {
    margin: 10px 20px;
    width: 70px;
    height: 45px;
  }

  .meio1-centro-noticia p{
    display: none;
  }

  .meio1-centro-noticia h1{
    font-size: 14px;
    width: 200px;
    font-weight: lighter;
    margin-top: 8px;
  }

  .meio1-lateral-noticia2 img {
    display: none;
  }

  .meio1-lateral-noticia2 {
    margin-left: 20px;
    width: 350px;
  }

  .meio1-lateral-noticia2 hr {
    width: 330px;
  }
  
  .meio1-lateral-noticia2 h4{
    margin-top: 15px;
  }

  .meio1-lateral-noticia2 a p{
    font-size: 18px;
    margin-bottom: 25px;
  }

  .contratktk-lateral {
    color: #000000;
  }
}